:root {

    --main-bg-color: #eeeeee;
    --main-text-color: #252422ff;
    --main-alert-bg: #fec1ba;
    --main-hover-bg: #e1e2e3;
}

html {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
body.theme-bright {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
body.theme-warm {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
/** End Themes **/

ul, nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol li {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
}

button {
    background-color: var(--main-alert-bg);
    border: 1px solid var(--main-text-color);
    cursor: pointer;
}

/**************/

#org-list {
    font-size: 16px;
}

.box {
    width: 100%;
    margin: 24px 0;
}

.add-note-box {
    width: 100%;
    margin: 24px 0;
}

ul.notes-list {
    width: 100%;
    margin: 24px 0;
}

li.notes-item {
    width: 100%;
    padding: 8px 0;
}

.note {
    display: flex;
}

.note:hover {
    background-color: var(--main-hover-bg);
}

.note .headline {
    flex: 0 1 auto;
}

.note .details {
    font-size: 12px;
    display: none;
}
.note:hover .details {
    display: inline-block;
}

.note .controls {
    margin-left: auto;
}

.note .completed label {
    text-decoration: line-through;
}

