:root {

    --main-bg-color: #eeeeee;
    --main-text-color: #252422ff;
    --main-alert-bg: #fec1ba;
    --main-hover-bg: #e1e2e3;

    --bright-fire-opal: #ee6055ff;
    --bright-medium-aquamarine: #60d394ff;
    --bright-mint-green: #aaf683ff;
    --bright-orange-yellow-crayola: #ffd97dff;
    --bright-vivid-tangerine: #ff9b85ff;
    --bright-sky: #a8f0ffff;

    --warm-bittersweet: #ee7162ff;
    --warm-melon: #fcaaa1ff;
    --warm-magic-mint: #abedc6ff;
    --warm-tea-green: #caffd0ff;
    --warm-blizzard-blue: #a8f0ffff;
}

html {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
body.theme-bright {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
body.theme-warm {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
/** End Themes **/

ul, nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol li {
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
}

button {
    background-color: var(--main-alert-bg);
    border: 1px solid var(--main-text-color);
    cursor: pointer;
}

/**************/

#org-list {
    font-size: 16px;
}

ul.notes-list {
    width: 100%;
    margin: 24px 0;
}

li.notes-item {
    width: 100%;
}

.note {
    display: flex;
}

.note:hover {
    background-color: var(--main-hover-bg);
}

.note .headline {
    flex: 1 1 auto;
}

.note .controls {
    margin-left: auto;
}

.note.completed label {
    text-decoration: line-through;
}

.note .details {
    font-size: 12px;
}