:root {
    --main-bg-color: #eeeeee;
    --main-bg-light-color: #f6f6f6;
    --main-text-color: #252422ff;
    --main-text-light-color: #9a9a9a;
    --main-alert-bg: #fec1ba;
    --main-hover-bg: #e1e2e3;

    --main-font-size: 16px;

    --main-box-padding: 16px;
}
html {
    font-family: sans-serif;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
body.theme-bright {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
body.theme-warm {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}
body {
    margin: 0;
    padding: 0;
}
/** End Themes **/

ul, nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
    font-size: 1rem;
    line-height: 1.5rem;
}
button {
    font-size: 0.8rem;
    border: 1px solid var(--main-text-color);
    cursor: pointer;
}
button.delete {
    background-color: var(--main-alert-bg);
}
button.star:hover,
button.starred {
    font-weight: bold;
}

#org-list {
    font-size: var(--main-font-size);
}

/* Boxes */

.box-16 {
    padding: var(--main-box-padding);
}
.box-v16 {
    padding: var(--main-box-padding) 0;
}
.box-top16 {
    padding: var(--main-box-padding) 0 0 0;
}
.flex-box-3 {
    display: flex;
    flex: 1 1 0;
    will-change: width;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.flex-box-3-push {
    margin-left: auto;
}
.flex-box-3-col-1 {
    display: flex;
    flex-direction: column;
    transition: width 180ms ease;
    width: 200px;
}
.flex-box-3-col-2 {
    flex: 1 1 0;
    display: flex;
    overflow: hidden;
}
.flex-box-3-col-3 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 360px;
}
.side-bar {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}
.side-bar-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.side-bar-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}
.middle-bar {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--main-bg-light-color);
}
.middle-bar-header {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.middle-bar-header {
    align-self: flex-end;
}
.middle-bar-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}
.last-bar {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 360px;
    box-sizing: border-box;
    flex: 1;
}

/* Form */

label {
    font-size: 1rem;
}
select {
    font-size: 0.9rem;
    padding: 2px 8px;
}

/* Collapsible */

.collapsible {
    margin: 0;
    padding: 0;
}
.collapsible-header {
    width: 100%;
    font-size: 16px;
}
.collapsible-header:hover {
    background-color: var(--main-hover-bg);
}
.collapsible-trigger {
    margin: 0;
    padding: 0;
}
.collapsible-content {
    margin: 0;
    padding: 0;
}
.collapsible-header button {
    font-size: 1em;
    border-style: none;
    background-color: transparent;
}
.tags-box button {
    font-size: 1em;
    border-style: none;
    background-color: transparent;
}
.collapsible-icon::after {
    content: "\25B2";
}
.collapsible-trigger[aria-expanded="true"] .collapsible-icon::after {
    content: "\25BC";
}

/* Custom */

.add-list-box .add-list-input {
    padding: 0.2em;
    box-sizing: border-box;
    width: 100%
}
.add-note-box .add-note-input {
    padding: 0.2em;
    box-sizing: border-box;
    width: 100%
}
.notes-list-box {
    width: 100%;
    margin: 24px 0;
}
li.notes-item {
    width: 100%;
}
.note {
    display: flex;
}
.note:hover {
    background-color: var(--main-hover-bg);
}
.note .headline {
    flex: 0 1 auto;
    overflow: hidden;
    display: flex;
    align-items: baseline;
}
.note .controls {
    margin-left: auto;
    flex: 0 0 auto;
}
.note .completed label {
    text-decoration: line-through;
}
.note .completed {
    text-decoration: line-through;
}
.toggle-completed {
    margin-right: 8px;
}

.counter {
    color: var(--main-text-light-color);
}

.headline-text,
.list-btn,
.tag-btn {
    cursor: pointer;
}
.tag-item {
    margin-left: 2px;
}
.tag-btn {
    margin-left: 8px;
}


/* Modifiers */

.hidden {
    display: none;
}
.blurred {
    opacity: 0.6;
}

*[contenteditable="true"]:focus {
    background-color: #fff;
}
